[Unit]
Description=cctv-ftp-server
After=syslog.target
After=network.target
[Service]
Type=simple
PIDFile=/var/lib/cctv-ftp-server.pid
WorkingDirectory=/projects/cctv_ftp_server/
User=www-data
Group=www-data
Environment=PYTHONPATH=/projects/cctv_ftp_server/
OOMScoreAdjust=-100
ExecStart=/usr/bin/python3 cctv_ftp_server.py
TimeoutSec=300
Restart=always
[Install]
WantedBy=multi-user.target
