services:
  cctv:
    build: .
    environment:
      - TZ=Europe/Moscow
    container_name: cctv
    volumes:
      - ./config/config.yml:/app/config/config.yml:ro
      - /opt/azimuth/azimuth-group.yml:/app/config/users/azimuth-group.yml
      - /opt/azimuth/html:/azimuth/html
      - /opt/azimuth/backup:/azimuth/backup
      - ./cctv_ftp_server.py:/app/cctv_ftp_server.py:ro
    network_mode: host
    restart: unless-stopped
