[Unit]
Description=cctv-ftp-server
After=syslog.target
After=network.target
[Service]
Type=simple
PIDFile=/var/lib/cctv-ftp-server.pid
WorkingDirectory=/opt/cctv_ftp_server/
User=ftpuser
Group=ftpuser
Environment=PYTHONPATH=/opt/cctv_ftp_server
Environment=VIRTUAL_ENV=/opt/.venv
ExecStart=/opt/cctv_ftp_server/venv/bin/python3 /data/projects/cctv_ftp_server/cctv_ftp_server.py
OOMScoreAdjust=-100
TimeoutSec=300
Restart=always
[Install]
WantedBy=multi-user.target
